body {
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    background: black;
}

/* LAYOUT */
#app {
    flex-direction: column;
    height: 100vh;
}


/* MAIN WINDOW */
#main-window {
    flex-grow: 1;
}

/* SIDEBAR */
#sidebar {
    flex-basis: 200px; /* larghezza sidebar */
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
}

.sidebar-top a .large-logo {
    height: 40px;
    margin: 20px 0 20px 20px;
}

.sidebar-top a .small-logo {
    height: 40px;
    display: none;
}

.sidebar-top .navbar .navbar-list .navbar-list-item {
    padding: 2px 0 2px 18px;
    border-left: 3px solid transparent;
}

.sidebar-top .navbar .navbar-list .navbar-list-item:hover {
    border-left-color: chartreuse;
    color: rgba(255, 255, 255, 1);
}

.sidebar-top .navbar .navbar-list .navbar-list-item img {
    width: 24px;
    height: 24px;
}

.playlist-menu {
    margin-left: 20px;
}

.playlist-menu .playlist-button {
    align-items: center; /* DEBUG:  */
}

.playlist-menu .playlist-button:hover,
.playlist-menu .playlist-all .playlist-option:hover,
.sidebar-bottom .sidebar-bottom-install-spotify:hover {
    color: rgba(255, 255, 255, 1);
}

.playlist-menu .playlist-button .playlist-button-icon {
    font-size: 40px;
}

.sidebar-bottom {
    width: 100%;
    padding: 20px;
}

.sidebar-bottom .sidebar-bottom-install-spotify,
.sidebar-bottom .sidebar-bottom-username {
    display: block;
}

.sidebar-bottom .sidebar-bottom-install-spotify {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.sidebar-bottom .sidebar-bottom-username {
    display: flex; /* DEBUG:  */
    align-items: center; /* DEBUG:  */
    padding-top: 10px;
    color: white; /* DEBUG:  */
    font-weight: 700;
}

/* CONTENT */
#content {
    position: relative;
    flex-grow: 1;
    background: #000;
}

.content-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.content-top-bar .button {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 24px;
}

#content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
}

.content-menu {
    justify-content: center;
}

.content-menu .content-menu-list .content-menu-option {
    position: relative;
    padding: 20px 20px 5px 20px;
}

.content-menu .content-menu-list .content-menu-option::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    width: 40px;
    border-bottom: 1px solid transparent;
}

.content-menu .content-menu-list .content-menu-option:hover {
    color: rgba(255, 255, 255, 1);
}

.content-menu .content-menu-list .content-menu-option:hover::after {
    border-color: chartreuse;
}

.content-category > h2 {
    font-size: 22px;
}

.playlist-container .playlist-box {
    flex-basis: calc(100% / 6 - 10px);
}

.playlist-container .playlist-box .playlist-image-box {
    position: relative;
}

.playlist-container .playlist-box .playlist-image-box .layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playlist-container .playlist-box .playlist-image-box .layover:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    transition: 0.5s;
}

.playlist-container .playlist-box .playlist-image-box .layover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 72px;
    font-weight: 900;
    color: white;
    display: none;
}

.playlist-container .playlist-box .playlist-image-box .layover:hover i {
    display: block;
}

.playlist-container .playlist-box span {
    display: inline-block;
}

.playlist-container .playlist-box .playlist-image-box img,
.playlist-container .playlist-box .playlist-image-box .layover {
    max-width: 100%;
}


/* BOTTOM PLAYER */
#player {
    background: #333;
    padding: 10px;
}

#player .player-info {
    flex-basis: 25%;
}

#player .player-info .player-info-title {
    margin-right: 40px;
}

#player .player-info .player-icons-box i:hover {
    color: rgba(255, 255, 255, 1);
}

#player .player-info img {
    width: 30px;
    height: 30px;
}

#player .player-commands {
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
}

#player .player-commands .player-controller span {
    padding: 0 10px;
}

#player .player-playing-bar .progress-bar {
    position: relative;
    height: 4px;
    width: 500px;
    background: rgba(255, 255, 255, .6);
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

#player .player-playing-bar .progress-bar::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}


#player .player-actions {
    flex-basis: 25%;
    justify-content: flex-end;
}

#player .player-actions .player-actions-box .player-actions-icon:hover {
    color: rgba(255, 255, 255, 1);
}

#player .player-actions .player-actions-box .volume-bar {
    position: relative;
    height: 4px;
    width: 100px;
    background: rgba(255, 255, 255, .6);
    border-radius: 2px;
}

#player .player-actions .player-actions-box .volume-bar::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}
