/* RESPONSIVE STYLES */

@media all and (max-width: 600px) {
    /* SIDEBAR */
    #sidebar {
        flex-basis: 50px;
        align-items: center;
        padding: 5px;
    }

    .sidebar-top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .sidebar-top a .large-logo,
    .navbar .navbar-list span,
    .playlist-menu,
    .sidebar-bottom .sidebar-bottom-install-spotify span,
    .sidebar-bottom .sidebar-bottom-username span {
        display: none;
    }

    .sidebar-bottom .sidebar-bottom-install-spotify {
        border-bottom: 50px;
        padding: 0 0 0 0;
        margin: 0;
    }

    .sidebar-top a .small-logo {
        display: block;
        margin-bottom: 10px;
    }

    .sidebar-top .navbar .navbar-list .navbar-list-item,
    .sidebar-top .navbar .navbar-list .navbar-list-item img {
        padding: 0;
        margin-right: 0;
        border-left: none;
    }

    .sidebar-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin-bottom: 10px;
    }

    /* CONTENT MENU */
    .content-menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* CONTENT */
    .playlist-container {
        flex-wrap: wrap;
    }

    .playlist-container .playlist-box {
        flex-basis: calc(100% / 2 - 10px);
    }

    /* PLAYER */
    #player .player-playing-bar .progress-bar {
        width: 150px;
    }

    #player .player-actions .player-actions-box .volume-bar {
        width: 70px;
    }
}

@media all and (min-width: 601px) and (max-width: 1024px) {
    .playlist-container {
        flex-wrap: wrap;
    }

    .playlist-container .playlist-box {
        flex-basis: calc(100% / 4 - 10px);
    }
}
